.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  width: 100vw;
  max-width: 800px;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;

  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  box-sizing: border-box;
}

.modalContent hr {
  margin-top: 0.8rem;
  margin-bottom: 1.2rem;
}

/* label + textarea μ„ΈνΈ */
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.textarea {
  padding: 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  height: 320px;
  overflow-y: auto;
  resize: none;
}

.modalButtonWrapper {
  text-align: right;
  margin-top: 0.3rem;
}

#confirmButton {
  margin-right: 10px;
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 500;
}

#confirmButton:hover {
  background-color: #2563eb;
}

#cancelButton {
  background-color: #6b7280;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 500;
}

#cancelButton:hover {
  background-color: #4b5563;
}

.title {
  cursor: pointer;
  margin-right: auto;
}

.title:hover {
  text-decoration: underline;
  color: #4b5563;
}

.articleScrollBox {
  max-height: 150px;
  min-height: 150px;
  overflow-y: auto;
  padding-right: 0.5rem;
  line-height: 1.6;
}